input{
  width: 400px;
  height: 25px;
  margin:10px auto;
}
input:focus{
  outline:none
}
select{
  height: 25px;
  width:100px
}

#button{
    margin: 10px 100px;
    height: 40px;
    width: 200px;
    padding: 5px;
    border: none;
    background-color: #089eff;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 100;
}
form{
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-column-gap: 30px;
    width: 80vw;
    margin: 20px auto;
  }